In [22]:
import requests as req
import pandas as pd
import time
import selenium
import webdriver_manager
import numpy as np
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from selenium.webdriver.common.by import By

from webdriver_manager.chrome import ChromeDriverManager

In [23]:
PATH = ChromeDriverManager().install()    # instala driver de chrome

driver = webdriver.Chrome(PATH)      # abre una ventana de chrome

driver.get('https://www.health.ny.gov/statistics/cancer/registry/appendix/neighborhoodpop.htm')
time.sleep(3)

[WDM] - Downloading: 100%|██████████| 6.80M/6.80M [00:00<00:00, 32.4MB/s]

In [24]:
tabla_demo = driver.find_element(By.CSS_SELECTOR, '#content > table > tbody')

Ahora que tengo la tabla me busco las filas para crearme en pandas un Dataframe

In [25]:
filas = tabla_demo.find_elements(By.TAG_NAME, 'tr')

In [26]:
boro = []
region = []
population = []


for f in filas:
    dos = f.find_elements(By.TAG_NAME, 'th')
    boro.append(dos[0].text)
    region.append(dos[1].text)
    tres = f.find_elements(By.TAG_NAME, 'td')
    population.append(float(tres[2].text.replace(',','')))

In [27]:
resultado = pd.DataFrame()

resultado['Borough']=boro
resultado['Region']=region
resultado['Population']=population
resultado
resultado['Borough'][0:10]='Bronx'
resultado['Borough'][10:28]='Brooklyn'
resultado['Borough'][28:38]='Manhattan'
resultado['Borough'][38:52]='Queens'
resultado['Borough'][52:]='Staten Island'
resultado

C:\Users\river\AppData\Local\Temp\ipykernel_9992\3537844276.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultado['Borough'][0:10]='Bronx'
C:\Users\river\AppData\Local\Temp\ipykernel_9992\3537844276.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultado['Borough'][10:28]='Brooklyn'
C:\Users\river\AppData\Local\Temp\ipykernel_9992\3537844276.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultado['Borough'][28:38]='Manhattan'
C:\Users\river\AppData\Local\Temp\ipykernel_9992\3537844276.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultado['Borough'][38:52]='Queens'
C:\Users\river\AppData\Local\Temp\ipykernel_9992\3537844276.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultado['Borough'][52:]='Staten Island'

          Borough                                          Region  Population
0           Bronx              Riverdale, Fieldston & Kingsbridge    114070.0
1           Bronx            Wakefield, Williamsbridge & Woodlawn    142935.0
2           Bronx          Co-op City, Pelham Bay & Schuylerville    121544.0
3           Bronx           Pelham Parkway, Morris Park & Laconia    129130.0
4           Bronx       Belmont, Crotona Park East & East Tremont    163704.0
5           Bronx           Bedford Park, Fordham North & Norwood    130681.0
6           Bronx      Morris Heights, Fordham South & Mount Hope    136391.0
7           Bronx              Concourse, Highbridge & Mount Eden    142504.0
8           Bronx         Castle Hill, Clason Point & Parkchester    187006.0
9           Bronx                 Hunts Point, Longwood & Melrose    159091.0
10       Brooklyn                       Greenpoint & Williamsburg    152416.0
11       Brooklyn                                        Bushwick    131215.0
12       Brooklyn                              Bedford-Stuyvesant    136658.0
13       Brooklyn                  Brooklyn Heights & Fort Greene    123378.0
14       Brooklyn          Park Slope, Carroll Gardens & Red Hook    111216.0
15       Brooklyn          Crown Heights North & Prospect Heights    126336.0
16       Brooklyn                        Brownsville & Ocean Hill    120791.0
17       Brooklyn                   East New York & Starrett City    156854.0
18       Brooklyn                            Canarsie & Flatlands    198379.0
19       Brooklyn                 East Flatbush, Farragut & Rugby    139516.0
20       Brooklyn  Crown Heights So., Prospect Lefferts & Wingate    110217.0
21       Brooklyn                   Sunset Park & Windsor Terrace    151277.0
22       Brooklyn                       Bay Ridge & Dyker Heights    126814.0
23       Brooklyn        Borough Park, Kensington & Ocean Parkway    166940.0
24       Brooklyn                              Flatbush & Midwood    162782.0
25       Brooklyn     Sheepshead Bay, Gerritsen Beach & Homecrest    153513.0
26       Brooklyn                        Bensonhurst & Bath Beach    188210.0
27       Brooklyn                   Brighton Beach & Coney Island    120258.0
28      Manhattan        Washington Heights, Inwood & Marble Hill    202048.0
29      Manhattan  Hamilton Heights, Manhattanville & West Harlem    128146.0
30      Manhattan                                  Central Harlem    120472.0
31      Manhattan                                     East Harlem    119732.0
32      Manhattan                                 Upper East Side    230382.0
33      Manhattan                     Upper West Side & West Side    202799.0
34      Manhattan    Chelsea, Clinton & Midtown Business District    148414.0
35      Manhattan         Murray Hill, Gramercy & Stuyvesant Town    155577.0
36      Manhattan                     Chinatown & Lower East Side    168949.0
37      Manhattan     Battery Park City, Greenwich Village & Soho    152636.0
38         Queens                      Astoria & Long Island City    176458.0
39         Queens                  Jackson Heights & North Corona    184439.0
40         Queens              Flushing, Murray Hill & Whitestone    256180.0
41         Queens               Bayside, Douglaston & Little Neck    120960.0
42         Queens      Queens Village, Cambria Heights & Rosedale    192847.0
43         Queens            Briarwood, Fresh Meadows & Hillcrest    157201.0
44         Queens                         Elmhurst & South Corona    147176.0
45         Queens                        Forest Hills & Rego Park    116826.0
46         Queens                            Sunnyside & Woodside    135848.0
47         Queens            Ridgewood, Glendale & Middle Village    173241.0
48         Queens                       Richmond Hill & Woodhaven    143940.0
49         Queens                    Jamaica, Hollis & St. Albans    223714.0
50         Queens                       Howard Beach & Ozone Park    125228.0
51         Queens      Far Rockaway, Breezy Point & Broad Channel    117247.0
52  Staten Island             Tottenville, Great Kills & Annadale    162511.0
53  Staten Island                   New Springville & South Beach    136381.0
54  Staten Island     Port Richmond, Stapleton & Mariner's Harbor    176703.0

In [28]:
resultado2=resultado.groupby('Borough').sum().reset_index()
resultado2.Population = resultado2.Population.astype(int)

C:\Users\river\AppData\Local\Temp\ipykernel_9992\1741007623.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  resultado2=resultado.groupby('Borough').sum().reset_index()

In [29]:
resultado2

         Borough  Population
0          Bronx     1427056
1       Brooklyn     2576770
2      Manhattan     1629155
3         Queens     2271305
4  Staten Island      475595

In [30]:
resultado2.to_csv('population_ny.csv', index=False)